<!-- Navigation Bar -->
<nav>
    <a href="/">Home</a>
    <a href="/waterfall">Waterfall Model</a>
    <a href="/agile">Agile Model</a>
    <a href="/spiral">Spiral Model</a>
    <a href="/rad">RAD Model</a>
</nav>